# Varible

### Basic variable

In [ ]:
nama = 'Sasuke'
umur = '25'

In [ ]:
nama

In [ ]:
type(nama)

In [ ]:
umur

In [ ]:
umur = 25

In [ ]:
type(umur)

In [ ]:
jomblo = True

In [ ]:
type(jomblo)

### Arithmetic Operation

In [ ]:
a = 10
b = 5

a + b

In [ ]:
c = a + b

In [ ]:
c

c = c + 1

In [ ]:
c += 1

In [ ]:
c

In [ ]:
c -= 5

In [ ]:
c

In [ ]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)
print(e ** 2)

### String

In [ ]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.index('pergi'))
print(g.split(' '))
print(g.lower())
print(g.upper())

### Convert String to Number

In [ ]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

### Math Module

In [ ]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

### Tuple

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

In [ ]:
tup1[1]

### List

In [ ]:
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",tinylist * 2)
print("Join two list: ", list1 + tinylist, "\n")

In [ ]:
list1[1] = 'coba'
list1[1]

In [ ]:
list1

In [ ]:
# tuple[1] = 'math'
# tuple[1]

### Dictionary

+ jumlahnya 1: {'key': value}
+ jumlahnya lebih dari 1: {'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}

In [ ]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

### Numpy

In [ ]:
import numpy as np

In [ ]:
my_list = [1, 2, 3, 4, 5]

type(my_list)

In [ ]:
my_list

In [ ]:
my_list_np = np.array(my_list)

type(my_list_np)

In [ ]:
my_list_np

In [ ]:
my_list_np.shape

In [ ]:
my_list_matrix = np.array([[1, 2, 7], [3, 4, 6]])

my_list_matrix

In [ ]:
my_list_matrix.shape

In [ ]:
np.arange(0, 10)

In [ ]:
np.zeros(5)

In [ ]:
mat1 = np.array([[1, 2, 7], [3, 4, 6]])
mat2 = np.array([[2, 5, 8], [6, 4, 6], [7, 5, 6]])

np.dot(mat1, mat2)

In [ ]:
mat2

In [ ]:
mat2.shape

In [ ]:
mat2[:, 0]

In [ ]:
mat2[1, 0:2]

In [ ]:
mat2[1][1]

### Pandas Series and DataFrame

In [ ]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(5,4), index='1 2 3 4 5'.split(), columns='A B C F'.split())

df

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df['A']

In [ ]:
df.loc[['2', '3'], ['B', 'C']]

In [ ]:
df.iloc[:, 1]

In [ ]:
df.iloc[2:4, 0]

# Logic

In [ ]:
nama = 'Sasuke'
umur = 10
jomblo = False

### If

In [ ]:
if jomblo == True:
    print("Sasuke jomblo")

### If Else

In [ ]:
if jomblo == True:
    print("Sasuke jomblo")
else:
    print("Sasuke tidak jomblo")

AND 
1 & 1 = True
1 & 0 = False
0 & 1 = False
0 & 0 = False

AND 
1 & 1 = True
1 & 0 = True
0 & 1 = True
0 & 0 = False

### And

In [ ]:
if umur > 17:
    print("Sasuke Dewasa")
elif umur > 14 and umur < 17:
    print("Sasuke Remaja")
else:
    print("Sasuke Kecil")

### Or

In [ ]:
if umur > 17:
    print("Sasuke Dewasa")
elif umur > 14 or umur < 17:
    print("Sasuke Remaja")
else:
    print("Sasuke Kecil")

In [ ]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "manggis":
    print("True")
else:
    print("False")

In [ ]:
matrix1 = np.array([[1, 2, 7], [3, 4, 6]])

matrix1

In [ ]:
if matrix1[1][1] == 4:
    print("True")
else:
    print("False")

# Loop atau Perulangan

In [ ]:
fruits = ["nanas", "pisang", "semangka", "apple"]

## For

In [ ]:
for fruit in fruits:
    print(fruit)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i, fruit in enumerate(fruits):
    print(f'{fruit} buah ke {i}')

## While

In [ ]:
count = 0

while (count < 9):
   print('The count is:', count)
   count = count + 1

print("\nGood bye!")

### Break

In [ ]:
for letter in 'Python':
    print("Current Letter :", letter)
    
    if letter == 'h':
        break

In [ ]:
var = 10

while var > 0:
    var = var - 1
    print("Current variable value :", var)
    
    if var == 5:
        break

### Pass

In [ ]:
for letter in 'Python':
    if letter == 'h':
        pass
        print('This is pass block')
        
    print('Current Letter :', letter)

# Function

### Void Function

In [ ]:
def print_coba

### Function with Return value

In [ ]:
def perkalian(a, b):
    hasil_kali = a * b
    return hasil_kali

In [ ]:
perkalian(10, 2)

In [ ]:
def kali_bagi(a, b):
    hasil_kali = a * b
    hasil_bagi = a / b
    return hasil_kali, hasil_bagi

In [ ]:
hasil_kali, hasil_bagi = kali_bagi(10, 2)

print(hasil_kali)
print(hasil_bagi)

In [12]:
f = 20

def coba_var(a, b):
    global c
    c = 10
    
    d = a + b + c + f
    
    return d

In [13]:
coba_var(10, 20)

60

In [14]:
c

10